
# Force LF line endings for all text/script files on Windows
*.sh text eol=lf
*.bash text eol=lf
*.py text eol=lf
*.pyw text eol=lf
waf text eol=lf

*.bin -diff
*.elf -diff
*.hex -diff

*.bin binary linguist-generated
*.elf binary linguist-generated
*.hex binary linguist-generated
